@using kumalo.Data.Entities;

@{
    ViewData["Title"] = "Home Page";
    User? loggedUser = this.ViewData["loggedUser"] as User; //possible null
}

@model IEnumerable<kumalo.Models.DisplayAccountModel>;

<div class="text-center">
    <h1 class="display-4">Welcome to KUMALO</h1>
    @if (loggedUser != null && !string.IsNullOrEmpty(loggedUser.Username))
    {
        <p>Welcome, @loggedUser.Username</p>
    }
    else
    {
        <p>Welcome, Guest</p>
    }
</div>
<section class="all-users-section">
    <section class="all-users-header">
        <h1 class="title">Our Users</h1>
    </section>
    <section class="users-list">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td><img src="@user.PictureUrl"/></td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.City</td>
                        <td>@user.Description</td>
                        <td><a asp-controller="Home" asp-action="SeeAccount" method=get asp-route-id=@user.Id>See more</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</section>
