@using kumalo.Data.Entities;

@{
    ViewData["Title"] = "Home Page";
    User? loggedUser = this.ViewData["loggedUser"] as User; //possible null
}

@model IEnumerable<kumalo.Models.DisplayAccountModel>;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome to KUMALO</h1>
        @if (loggedUser != null && !string.IsNullOrEmpty(loggedUser.Username))
        {
            <p>Welcome, @loggedUser.Username</p>
        }
        else
        {
            <p>Welcome, Guest</p>
        }
    </div>
    <section class="all-users-section">
        <section class="all-users-header">
            <h1 class="title">Our Suppliers</h1>
        </section>
        <section class="users-list">
            @foreach (var user in Model)
            {
                <div class="user-box">

                    <div class="user-picture">
                        <img src="@user.PictureUrl" />
                    </div>
                    <div class="user-details">
                        
                        <h2>@user.FirstName @user.LastName</h2>
                        <p>City: @user.City</p>
                        <p>Age: @user.Age</p>
                        <p>Description:@user.Description</p>
                        <a asp-controller="Home" asp-action="SeeAccount" method=get asp-route-id="@user.Id">See more</a>
                    </div>
                </div>
            }
        </section>
    </section>
</body>
</html>
