@using kumalo.Data.Entities;
@model kumalo.Models.DisplayAccountModel;

@{
    User? loggedUser = this.ViewData["loggedUser"] as User; //possible null
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/SeeAccount.css" rel="stylesheet" />
</head>
<body>
    <div class="container main-container">
        <h1>Account Info</h1>
        <hr />
        <img class="image-container" src="@Model.PictureUrl" />
        <div class="info-container">
            <label class="info-label">First name:</label>
            <span class="info-value">@Model.FirstName</span>
        </div>
        <div class="info-container">
            <label class="info-label">Last name:</label>
            <span class="info-value">@Model.LastName</span>
        </div>
        <div class="info-container">
            <label class="info-label">Age:</label>
            <span class="info-value">@Model.Age</span>
        </div>
        <div class="info-container">
            <label class="info-label">City:</label>
            <span class="info-value">@Model.City</span>
        </div>
        <div class="info-container">
            <label class="info-label">Phone Number:</label>
            <span class="info-value">@Model.PhoneNumber</span>
        </div>
        <div class="description-container">
            <label class="info-label">Description:</label>
            <br/>
            <span class="description-value">@Model.Description</span>          
        </div>

        @{
            if (loggedUser != null)
            {
                if (loggedUser.Id == Model.Id)
                {
                    if (loggedUser.Role == "Supplier")
                    {
                        <button type="submit" class="fake-likes-button" id="likeButton">
                            <span class="like-counter" id="likeCount">@(Model.ReceivedLikesFrom == null ? 0 : Model.ReceivedLikesFrom.Count)</span>
                        </button>
                    }

                    <div class="action-buttons">
                        <a class="edit-button text-decoration-none" asp-controller="Home" asp-action="EditAccount">Edit Account</a>
                        <a class="logout-button text-decoration-none" asp-controller="Home" asp-action="Logout">Log out</a>
                        <a class="deleteAccount-button text-decoration-none" asp-controller="Home" asp-action="DeleteAccount">Delete Account</a>
                    </div>
                }
                else
                {
                    <form method="post">
                        <button type="submit" class="likes-button" asp-controller="Home" asp-action="LikeOrDislike" asp-route-id="@Model.Id">
                            <span class="like-counter" id="likeCount">@(Model.ReceivedLikesFrom == null ? 0 : Model.ReceivedLikesFrom.Count)</span>
                        </button>
                    </form>
                }
            }
            else
            {
                <button type="submit" class="fake-likes-button" id="likeButton">
                    <span class="like-counter" id="likeCount">@(Model.ReceivedLikesFrom == null ? 0 : Model.ReceivedLikesFrom.Count)</span>
                </button>
            }
               
        }
   
    </div>
</body>
</html>