@model kumalo.Models.UserDisplayModel

<h5>@Model.FirstName</h5>
<h5>@Model.LastName</h5>
<h5>@Model.Age</h5>
<h5>@Model.City</h5>
<h5>@Model.PhoneNumber</h5>
<p>@Model.Description</p>
<h5>@Model.LikesCount</h5>

@*VMESTO h5 DA E BUTON S NADPIS BROQ NA LAIKOVETE, KOITO KATO SE NATISNE SE UVELICHAVAT S 1 I SE ZAPISVA V BAZATA*@

